/*profile  css*/
.textName {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.avatar {
  text-align: center;
  padding: 30px 20px 15px 20px;
}
.textTag,
.textLocation {
  color: gray;
}
.profile {
  width: 300px;
  margin: 30px auto;
  border: 5px solid #212121;
  border-radius: 15px;
 
}
.statsList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #D3D3D3;
  border: 3px solid #A9A9A9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.statItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 2px solid gray;
  padding: 0 5px;
}
.statItem:last-child {
  border-right: none;
  border-bottom-right-radius: 15px;
}

.itemSpan {
  color: #000000;
}
.itemNumbers {
  font-weight: bold;
}
.img {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
  background-color: black;
}